.jumbotron {
    margin-bottom: 0;
}

.navbar {
	border-radius: 0px;
}

.informacja-dla-uzytkownika {
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	color: #e60000;
}

.blad-polaczenia-baza-danych {
	text-align: center;
	font-size: 20px;
}

.profil-uzytkownika p {
	font-size: 30px;
}

.profil-uzytkownika {
	font-size: 18px;
}

#za-duzo {
	display: none;
}

.przyklad {
    font-size: 22px;
}

#slowo_polskie {
    display: block;
}

#slowo_obce {
    display: none;
}

#pokaz_odpowiedz {
    display: block;
}

#pokaz_odpowiedz button {
    width: 60%;
}

#wiem_nie_wiem {
    display: none;
}

#wiem_nie_wiem button {
    width: 30%;
}
