body {
	margin-bottom: 27px;
}

.jumbotron {
    margin-bottom: 0;
}

.navbar {
	border-radius: 0px;
}

.informacja-dla-uzytkownika {
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	color: #e60000;
}

.blad-polaczenia-baza-danych {
	text-align: center;
	font-size: 20px;
}

.profil-uzytkownika p {
	font-size: 30px;
}

.profil-uzytkownika {
	font-size: 18px;
}

#za-duzo {
	display: none;
}

#fiszka-pokaz-odpowiedz {
    display: block;
}

#fiszka-pokaz-odpowiedz button {
    width: 60%;
}

#przycisk-wyslij-fiszki {
	width: 40%;
}

#fiszka-wiem-nie-wiem {
    display: none;
}

#fiszka-wiem-nie-wiem button {
    width: 30%;
}

#slowo {
    font-size: 22px;
}

#komunikat-koniec-rundy {
	font-size: 22px;
}

#przycisk-wyslij-fiszki {
	display: none;
}
